table {
    margin-top: 15px;
    font-size: 11px;
}

h3 {
    font-size: 13px;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

p {
    font-size: 11px;
}

.tbl-tipo-tramite {
    width: 910px;
    font-size: 11px;
}

.tbl-tipo-tramite td{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.caja-x {
    background-color: #d55;
    width: 30px;
}

.tramite-x {
    font-size: 11px;
    width: 30px;
    border-left: 1px solid #000;
    font-weight: bold;
}

.tramite-desc {
    border-right: 1px solid #000;
}



td#textarea{
    height: 150px !important;
}

.metadato {
    font-size: 8px;
    font-style: italic;
}

.tbl-generica td {
    border: 1px solid #000;
    margin-bottom: 10px;
    font-size: 11px;
    /*height: 33px;*/
}

td.titulo-pequeno,
.titulo-pequeno
{
    font-size: 10px;
}

.tbl-firma td {
    /*border: 1px solid #000;*/
    margin-bottom: 10px;
    font-size: 9px;
    height: 33px;
}

.tbl-title-noborder td {
    font-size: 9px;
}

.tbl-anexos td {
    border: 1px solid #000;
    margin-bottom: 10px;
    font-size: 8px;
    height: 15px;
}

.cumple , .no-cumple{
    width: 50px;
}

.folios {
    width: 132px;
}

.num {
    width: 30px;
}

.anexo-detalle {
    width: 205px;
}

.anexo-doc {
    width: 235px;
}

.interesado {
    width: 367px;
}
.interesado-516 {
    /*width: 235;*/
}

.sanitaria {
    width: 100px;
}

.sanitaria-516 {
    width: 232px;
}

td.firma-persona {
    border-bottom: 1px solid #000;
    height: 40px;
}

.head-formulario span#titulo-form {
    width: 400px;
}

.head-formulario {
    /*width: 100%;*/
    /*text-align: center;*/
    font-size: 11px;
}

.maquila {
    width: 100%;
    margin-left: 100px;
}

.maquila-tipo {
    width: 100px;
}

.maquila-x {
    width: 15px;
    border: 1px solid #000;
}

.maquila-nombre {
    width: 300px;
}