body {
background:url(/images/web/fondo5.png) repeat;
margin:0px;
padding:0px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
color:#000;
}
p{
text-align:justify;
line-height:19px;
padding:0px;
margin:0px;
}
h2{
padding:0px 0 10px 0; margin:0px; color:#57ad55; font-size:20px; font-weight:normal;
}
.clear{
clear:both;
}
#wrap{
width:977px;
margin:20px auto auto auto;
}
.top_corner{
width:976px;
height:15px;
background:url(/images/web/top_bg.gif) no-repeat center bottom;
}
#main_container{
width:977px;
background:url(/images/web/center_bg_repeat.gif) repeat-y center;
}
#header{
width:960px;
margin:auto;
height:90px;
}
#logo{
padding:0px 0 0 20px;
float:left;
}
/*----------------------menu-------------------------*/
#menu{
width:550px;
float:right;
padding:40px 0 0 0;
}
#menu ul{
list-style:none;padding:0px;margin:0px;display:block;
}
#menu ul li{
list-style:none;display:inline;float:left;width:auto;padding:0px;font-size:12px;
}
#menu ul li a{
float:left;text-decoration:none;padding:0px 10px 0 10px; margin:0px 4px 0 4px;color:#000;text-align:center; height:31px; line-height:31px; 
}
#menu ul li a:hover{
background-color:#57ad55;color:#fff;
}
#menu ul li a.current{
float:left;text-decoration:none;padding:0px 10px 0 10px; margin:0px 4px 0 4px;color:#fff;text-align:center; height:31px; line-height:31px; background-color:#57ad55;
}

/*-----------------middle_banner----------------------------*/
.middle_banner{
width:977px;
height:310px;
background:url(/images/web/middle_banner_bg.jpg) no-repeat center;
}
/*----------------------slider---------------------------*/
.featured_slider { width:965px; margin:auto; float:left; margin:18px 0 0 6px; }
ul, li{
padding:0px;
margin:0px;
list-style:none;
}
/** ----------------------------------------------------- **/
#featured_border { position: relative; border: none; padding:0px; height:280px; margin: 0px; }
#featured_wrapper { position: relative; width: 100%; height: 100%; overflow: hidden; }
#featured_images { position: absolute; left: 0; top: 0; }
#featured_images li { float: left; }
#featured_positioner_desc { width:965px; height: 280px; position: absolute; top: 0px; left: 0px; }
#featured_wrapper_desc { width: 100%; height:280px; position: relative; overflow: hidden; }
#featured_desc { position: absolute; left: 0; bottom: 0;  padding:0px; margin:0px; }
#featured_desc li { width: 965px; float: left;padding:0px; margin:0px; }
#featured_desc li div { margin:0px 0 0px 0px; padding:10px; width:945px;  background: url(/images/web/featured-desc-bg.png); }
#featured_desc li h2 {
color:#FFFFFF;
font-size:18px;
padding:0px 0 5px 0;
margin:0px; 
}
#featured_desc li p {
color:#FFFFFF;
font-size:12px;
padding:0px 0 10px 0;
margin:0px;
line-height:18px;
}

#featured_buttons { position: absolute; top: 15px; right: 15px; width: auto; padding:0; list-style:none;}
#featured_buttons li { width: 22px; height: 22px; background: url(/images/web/featured-button-off.png); float: left; margin-left: 3px; text-align:center; font-size:12px; color:#FFFFFF; line-height:22px; cursor: pointer; }
#featured_buttons li.clicked { background: url(/images/web/featured-button-on.png); }
/**/


/*-------------------------------*/
.center_content{
width:960px;
clear:both;
margin:auto;
padding:10px 0 20px 0;
min-height: 650px;
}
.center_content_pages{
width:960px;
clear:both;
margin:auto;
padding:20px 0 20px 0;
background:url(/images/web/center_bg_pages.gif) no-repeat center top;
}
.home_section_left{
width:270px;
height:260px;
float:left;
margin:0 14px 0 14px;
padding:0 10px 20px 10px;
background:url(/images/web/home_block_bg.gif) no-repeat center bottom;
}
.home_section_left p{
clear:both;
}
.home_section_left p span{
font-weight:bold;
}
.home_section_left ul{
padding: 10px 30px;
}
.home_section_left li{
list-style: square outside none !important;
padding: 5px 0px 1px 1px;
}
img.home_section_icon{
width:63px;
float:left;
}
h2.home_title{
width:190px;
float:left;
font-size:20px;
padding:20px 0 0px 10px; margin:0px;
color:#57ad55;
}
.home_subtitle{
width:190px;
float:left;padding:0px 0 0px 10px; font-size:12px; color:#a7a7a7;
}
.home_section_thumb{
float:left; clear:both;
padding:2px; text-align:center;margin:10px 0 10px 0; border:1px #57ad55 solid;
}
a.more{
float:right;
}
img.projects{
float:left;
padding:2px;margin:0 10px 0 0; border:1px #57ad55 solid;
}


.left_content{
width:660px;
float:left;
padding:0;
}
.left_block{
width:295px;
float:left;
padding:20px 20px 10px 15px;
}
.left_block_wide{
width:625px;
float:left;
padding:20px 20px 10px 15px;
}
.financial-application-form{
width:530px;
float:left;
padding:20px 20px 10px 15px;
}
.financial-application-form p{
margin-bottom:30px;
}
.testimonials{
width:360px;
float:right;
padding:20px 20px 0 0;
}
.block_wide{
width:625px;
float:left;
margin:10px 20px 10px 15px;
padding-top:10px;
border-top:1px #57ad55 solid;
}
.wide_content{
width:930px;
clear:both;
padding:10px 15px 0 15px;
}
.wide_left{
width:440px;
float: left;
padding:10px 10px 0 15px;
}
.wide_right{
width:440px;
float: right;
padding:10px 10px 0 15px;
}
.right_block{
width:280px;
float:right;
padding:20px 20px 10px 0;
}
.wide_content ul{
padding: 10px 100px;
}
.wide_content li{
list-style: square outside none !important;
padding: 5px 0px 1px 1px;
}
.wide_content img
{
border:3px #57ad55 solid;
margin:10px 10px 10px 15px;
}
img.pic{
border:3px #57ad55 solid;
margin:0 0 10px 0;
}
.home_news a{
font-size:12px;
color:#73B65A;
text-decoration:none;
border-bottom:1px #57ad55 dotted;
padding:10px 0 5px 12px;
display:block;
float:left;
background:url(/images/web/arrow.gif) no-repeat left top;
background-position: 0px 13px;
}
.home_news a:hover{
text-decoration:underline;
}
input.newsletter_input{
background-color:#EFF8FB;
border:1px #57ad55 solid;
width:193px;
height:18px;
padding:4px;
float:left;
}
form#newsletter{
padding:10px 0 0 0;
}
input.newsletter_submit{
background-color:#57ad55;
color:#FFFFFF;
text-align:center;
float:left;
padding:4px 4px 3px 4px;
margin:0 0 0 10px;
border:1px #57ad55 solid;
cursor:pointer;
}
.testbox{
padding:20px 10px 5px 0;
margin:0;
border-bottom:1px #57ad55 solid;
}
.testbox p{
font-style:italic;
}
.testbox span{
padding:0px 0 0px 0px; font-size:10px; color:#888;
}



/*-----------------------contact_form-------------------*/
.form{
width:500px;
height:auto;
float:left;
padding:20px 10px 10px 20px;
border:1px #57ad55 solid;
}
.form_row{
width:425px;
float:left;
clear:both;
padding:7px 0 7px 0;
}
label{
width:100px;
float:left;
padding:3px 15px 0 0;
color:#57ad55;
text-align:right;
font-weight:bold;
}
input.main_input{
background-color:#EFF8FB;
border:1px #57ad55 solid;
width:300px;
height:18px;
padding:4px;
float:left;
}
textarea.main_textarea{
background-color:#EFF8FB;
border:1px #57ad55 solid;
width:300px;
height:120px;
padding:4px;
float:left;
}
input.submit{
background-color:#57ad55;
color:#FFFFFF;
text-align:center;
float:right;
padding:3px 10px 2px 10px;
margin:0px 0 0 0;
border:1px #57ad55 solid;
cursor:pointer;
}
/*-----------------------------footer------------------*/
.footer{
clear:both;
width:960px;
margin:auto;
background:url(/images/web/footer_bg.jpg) no-repeat center;
height:65px;
}
.copyright{
float:left;
padding:30px 0 0 15px;
color:#6996c0;
}
.copyright a{
color: #2A1C11;
text-decoration:none;
}
.footer_links{
float:right;
padding:30px 15px 0 0;
}
.footer_links a{
text-decoration:none;
color: #2A1C11;
padding-left:10px;
}
.footer_links a:hover{
text-decoration:underline;
color: #2A1C11;
}
#contacto_form input[type=text]
{
background-color:#EFF8FB;
border:1px #57ad55 solid;
width:300px;
height:18px;
padding:4px;
float:left;
}
#contacto_form textarea
{
background-color:#EFF8FB;
border:1px #57ad55 solid;
width:300px;
height:120px;
padding:4px;
float:left;
}


#filtros_web
{
    /*position: relative;*/
    float: left;
    width: 250px;
}
#productos_web
{
    position: inherit;
    float: right;
    width: 700px;
    border:1px solid #ccc;
    margin-right: 5px;
    min-height: 500px;
    
    
    
}

/*#filtros_web select{
    border:1px solid #ccc;
    vertical-align:top;
    height:20px;
}*/

/* The CSS */
#filtros_web select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 200px;
}
